.friends-wrapper {
    position: relative;
    box-shadow:
        /* First layer - white background */
        6px 0 0 0px rgba(255, 255, 255, 0.493), /*left side */
        -6px 0 0 0 rgba(255, 255, 255, 0.283), /*left side */
        -6px 6px 0 0 rgba(255, 255, 255, 0.283), /*left extra side */
        0px 6px 0 0 rgba(255, 255, 255, 0.283), /*left side */
        0px -6px 0 0 rgba(255, 255, 255, 0.283), /*right side */
        6px -6px 0 0 rgba(255, 255, 255, 0.283), /*right side */

        /* base white layer */
        
        0 0 0 3px rgba(255, 255, 255, 0.283),
        
/* top-outerrr layer */
        3px 0 0 3px white,
        -3px 0 0 3px white,
        0 3px 0 3px white,
        3px -3px 0 6px white,
        3px -3px 0 6px white,
        
        /* bottom-outer layer */
        /* second layer  */
        9px -9px 0 0 white, /*right-side*/
        9px -4px 0 0 white,  /*extra added for left side shaowdow match  */
        -9px -0px 0 0px white, /*right-side 5px-added */
        -9px 9px 0 0px white, /*bottom-side */
        0px 9px 0 0px white,
        0px -9px 0 0 white; /*top-side */
}


.friends-wrapper {
    @apply min-h-[44px] min-w-[160px] flex justify-center items-center font-coin;
    /* Should use Pixelon */
    background: rgba( 255, 255, 255, 0.25 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
  }
  
  .friends-container {
    @apply flex top-7 m-4 justify-center items-center;
  }