
.ufo-progress-bar{
    margin: 9px auto;
        display: inline-block;
        text-align: center;
        padding: 0.4em 1.3em;
        /* First white border layer */
        box-shadow:
          3px 0 white,
          -3px 0 white,
          0 -3px white,
          0 3px white,
          /* Second white border layer */
          6px 0 white,
          -6px 0 white,
          0 -6px white,
          0 6px white,
          0 0 0 3px white,
          /* Final red border layer */
          9px 0 white,
          -9px 0 white,
          0 9px white,
          0 -9px white,
          0 -3px 0 3px white,
          0 3px 0 3px white,
          3px 0 0 3px white,
          -3px 0 0 3px white;
      }
.progress-wrapper {
    @apply flex flex-col items-center;
}
    
.progress-bar {
    @apply w-6 h-64 relative overflow-hidden ;
}
    
.progress-fill {
    @apply absolute left-0 bottom-0 w-full transition-all duration-300 ease-out;
}


  /*  
@media (max-width: 768px) {
    .progress-bar {
        @apply w-[26rem] h-[2rem] relative overflow-hidden sm:rotate-0 rotate-90 mr-[7rem] mt-[60rem];
    }
   
    }*/
     
    /* @media (max-width: 768px) {
        .progress-bar {
            @apply w-[26rem] h-[2rem] relative overflow-hidden sm:rotate-0 rotate-90 mr-[7rem] mt-[60rem];
        }
       
        }
    @media (max-width:438px) {
        .progress-bar {
            @apply w-3 h-[22rem] relative overflow-hidden sm:rotate-0 rotate-90 mr-[7rem] mt-[60rem];
        }
       
        }
        
    @media (max-width:640px) {
        .progress-bar {
            @apply w-[26rem] h-[2rem] relative overflow-hidden  sm:rotate-0 rotate-90 mr-[7rem] mt-[60rem] md:w-[26rem] md:h-[2rem] lg:w-3 lg:h-[22rem] lg:mr-[12rem] xl:mr-[7rem];
        }
       
        } */

