@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'SF Pro Display';
    src: url('/assets/fonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
}

  @font-face {
    font-family: 'Coin Ding Dong';
    src: url('/assets/fonts/CoinDingDong.ttf') format('truetype');
}


*{
  @apply p-0 m-0 box-border
}

html{
  scroll-behavior: smooth;
  scrollbar-width: none;
}

body {
    overflow-x: hidden;
    min-height: 100vh;
    font-family: 'SF-Pro-Display', sans-serif;
    cursor: url('/assets/images/cursor.png') 16 16, auto !important;
  }
.app{
  @apply min-h-screen bg-red-200
}
.page{
  @apply min-h-screen h-auto overflow-x-hidden bg-black text-white
}
.overlay-black{
  @apply z-10 w-screen h-[100%] bg-[rgb(0,0,0,0.65)] absolute top-0 min-h-screen
}